<!DOCTYPE html>
html
	head
		meta(charset="UTF-8")
		meta(name="description", content="Frontend Edinsoncs")
		meta(name="viewport", content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0")
		title DrafExpress - Template
		link(rel="stylesheet", href="css/normalize.css")
		link(rel="stylesheet", href="css/app.css")

	body
		header(class="header")
			
			div(class="header__Iz")
				figure(class="header__Iz--Figure u--Margen")
					img(class="imgLogo", src="img/logo.png", alt="logo")
			div(class="header__De")
				ul(class="header__De--Ul")
					li(class="List")
						<i class="el el-search"></i>
					li(class="List")
						<i class="el el-lines"></i>
						
		main
			section(class="newsPrimary")
				article(class="newsPrimary__Cont")
					figure(class="newsPrimary__Cont--Figure u--Margen")
						img(class="imgNews", src="img/primaryNews.jpg", alt="Example")
					div(class="newsPrimary--Cont--Text")
						h1(class="Text--Title u--Margen") Larry Nance NBA Draft Scouting Report 
						h3(class="Text--Subtitle u--Margen") Video Breakdown by Mike Schmitz

			section(class="newsSecondary")
				article(class="newsSecondary--Articles")
					figure(class="Articles--Figure u--Margen")
						img(class="imgSecondary", src="img/sectNews1.jpg", alt="Basquet")

					aside(class="Articles__Aside")
						header(class="Articles__Aside--Header")
							h2(class="Title u--Margen") Opportunity Knocks: The [DeAndre] Jordan Rules
							span(class="Post--By") <span class="by">by</span>  Eric Weiss
						
						p(class="Articles--Description") The unique psychological makeup that allowed DeAndre Jordan to rise up from discarded second round pick to arguably the best defensive player in the NBA.
				
				article(class="newsSecondary--Articles")
					figure(class="Articles--Figure u--Margen")
						img(class="imgSecondary", src="img/sectNews2.jpg", alt="Basquet")

					aside(class="Articles__Aside")
						header(class="Articles__Aside--Header")
							h2(class="Title u--Margen") Opportunity Knocks: The [DeAndre] Jordan Rules
							span(class="Post--By") <span class="by">by</span>  Eric Weiss
						
						p(class="Articles--Description") The unique psychological makeup that allowed DeAndre Jordan to rise up from discarded second round pick to arguably the best defensive player in the NBA.
				
				article(class="newsSecondary--Articles")
					figure(class="Articles--Figure u--Margen")
						img(class="imgSecondary", src="img/sectNews2.jpg", alt="Basquet")

					aside(class="Articles__Aside")
						header(class="Articles__Aside--Header")
							h2(class="Title u--Margen") Opportunity Knocks: The [DeAndre] Jordan Rules
							span(class="Post--By") <span class="by">by</span>  Eric Weiss
						
						p(class="Articles--Description") The unique psychological makeup that allowed DeAndre Jordan to rise up from discarded second round pick to arguably the best defensive player in the NBA.

				article(class="newsSecondary--Articles")
					figure(class="Articles--Figure u--Margen")
						img(class="imgSecondary", src="img/sectNews2.jpg", alt="Basquet")

					aside(class="Articles__Aside")
						header(class="Articles__Aside--Header")
							h2(class="Title u--Margen") Opportunity Knocks: The [DeAndre] Jordan Rules
							span(class="Post--By") <span class="by">by</span>  Eric Weiss
						
						p(class="Articles--Description") The unique psychological makeup that allowed DeAndre Jordan to rise up from discarded second round pick to arguably the best defensive player in the NBA.
		


		footer(class="footer")
			div(class="footer__Top")
				span(class="footer__Top--Title") 2016 1st Round Mock

			ul(class="footer__Ul")
				li(class="footer__Ul--Li")
					div(class="number")
						h2(class="number--TT u--Margen") 1
					aside(class="aside")
						div(class="Li--Top")
							span(class="Li--Top--Blue") Skal Labissiere 
							span(class="Li--Top--Black") PF/C
						div(class="Li--Bot")
							span(class="Li--Bot--Blue") Bluff City Legends 
							span(class="Li--Bot--Black") HS Senior

				li(class="footer__Ul--Li")
					div(class="number")
						h2(class="number--TT u--Margen") 2
					aside(class="aside")
						div(class="Li--Top")
							span(class="Li--Top--Blue") Skal Labissiere 
							span(class="Li--Top--Black") PF/C
						div(class="Li--Bot")
							span(class="Li--Bot--Blue") Bluff City Legends 
							span(class="Li--Bot--Black") HS Senior

			ul(class="footer__Ul")
				li(class="footer__Ul--Li")
					div(class="number")
						h2(class="number--TT u--Margen") 3
					aside(class="aside")
						div(class="Li--Top")
							span(class="Li--Top--Blue") Skal Labissiere 
							span(class="Li--Top--Black") PF/C
						div(class="Li--Bot")
							span(class="Li--Bot--Blue") Bluff City Legends 
							span(class="Li--Bot--Black") HS Senior

				li(class="footer__Ul--Li")
					div(class="number")
						h2(class="number--TT u--Margen") 4
					aside(class="aside")
						div(class="Li--Top")
							span(class="Li--Top--Blue") Skal Labissiere 
							span(class="Li--Top--Black") PF/C
						div(class="Li--Bot")
							span(class="Li--Bot--Blue") Bluff City Legends 
							span(class="Li--Bot--Black") HS Senior

			ul(class="footer__Ul")
					li(class="footer__Ul--Li")
						div(class="number")
							h2(class="number--TT u--Margen") 5
						aside(class="aside")
							div(class="Li--Top")
								span(class="Li--Top--Blue") Skal Labissiere 
								span(class="Li--Top--Black") PF/C
							div(class="Li--Bot")
								span(class="Li--Bot--Blue") Bluff City Legends 
								span(class="Li--Bot--Black") HS Senior

					li(class="footer__Ul--Li")
						div(class="number")
							h2(class="number--TT u--Margen") 6
						aside(class="aside")
							div(class="Li--Top")
								span(class="Li--Top--Blue") Skal Labissiere 
								span(class="Li--Top--Black") PF/C
							div(class="Li--Bot")
								span(class="Li--Bot--Blue") Bluff City Legends 
								span(class="Li--Bot--Black") HS Senior

			ul(class="footer__Ul")
					li(class="footer__Ul--Li")
						div(class="number")
							h2(class="number--TT u--Margen") 7
						aside(class="aside")
							div(class="Li--Top")
								span(class="Li--Top--Blue") Skal Labissiere 
								span(class="Li--Top--Black") PF/C
							div(class="Li--Bot")
								span(class="Li--Bot--Blue") Bluff City Legends 
								span(class="Li--Bot--Black") HS Senior

					li(class="footer__Ul--Li")
						div(class="number")
							h2(class="number--TT u--Margen") 8
						aside(class="aside")
							div(class="Li--Top")
								span(class="Li--Top--Blue") Skal Labissiere 
								span(class="Li--Top--Black") PF/C
							div(class="Li--Bot")
								span(class="Li--Bot--Blue") Bluff City Legends 
								span(class="Li--Bot--Black") HS Senior

			ul(class="footer__Ul")
					li(class="footer__Ul--Li")
						div(class="number")
							h2(class="number--TT u--Margen") 9
						aside(class="aside")
							div(class="Li--Top")
								span(class="Li--Top--Blue") Skal Labissiere 
								span(class="Li--Top--Black") PF/C
							div(class="Li--Bot")
								span(class="Li--Bot--Blue") Bluff City Legends 
								span(class="Li--Bot--Black") HS Senior

					li(class="footer__Ul--Li")
						div(class="number")
							h2(class="number--TT u--Margen") 10
						aside(class="aside")
							div(class="Li--Top")
								span(class="Li--Top--Blue") Skal Labissiere 
								span(class="Li--Top--Black") PF/C
							div(class="Li--Bot")
								span(class="Li--Bot--Blue") Bluff City Legends 
								span(class="Li--Bot--Black") HS Senior					

			div(class="footer__Derechos") 
				span(class="footer__Derechos--Title") © 2015 DraftExpress LLC All rights reserved.